<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="login-card p-4 border">
        <h6 class="text-center mb-4">Sign in to your dashbaord</h6>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="username"
            [ngClass]="getClass('username')"
          >
          <div class="text-danger" *ngFor="let validation of validation_messages.username">
            <small *ngIf="loginForm.get('username')?.getError(validation.type) &&
              (loginForm.get('username')?.dirty ||   loginForm.get('username')?.touched)">
              {{ validation.message }}
            </small>
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            [ngClass]="getClass('password')"
          >
          <div class="invalid-feedback" *ngFor="let validation of validation_messages.password">
            <small *ngIf="loginForm.get('password')?.getError(validation.type) &&
              (loginForm.get('password')?.dirty ||   loginForm.get('password')?.touched)">
              {{ validation.message }}
            </small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || loginButtonDisabled">
          <span *ngIf="loginButtonDisabled" class="spinner-border spinner-border-sm mr-1"></span>
          Sign In
        </button>
      </form>
      </div>
    </div>
  </div>
</div>
