<div class="spinner-wrapper" *ngIf="show">
  <div class="container d-flex flex-column align-items-center">
    <div class="spinner-border mb-3">
    </div>
    <p class="spinner-message" *ngIf="message && message !== ''">
      {{ message }}
    </p>
  </div>
</div>
