<div class="container">
  <h2>{{ "Overview" }}</h2>
  <div class="row mb-2">
    <div class="col-md-6">
      <app-panel title="Card Title">
        <div id="donutChart" style="width: 100%; height: 400px;"></div>
      </app-panel>
    </div>
    <div class="col-md-6">
      <app-panel title="Card Title">
        <div id="barChart" style="width: 100%; height: 400px;"></div>
      </app-panel>
    </div>
  </div>

  <h2>{{ "User List" }}</h2>
  <div class="row">
    <div class="col-md-12">
      <app-panel>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngFor="let header of headers">{{ header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userData; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
          </tbody>
        </table>
      </app-panel>
    </div>
  </div>
</div>
